* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(160deg, rgb(0, 1, 74) 0%, rgb(30, 90, 120) 100%);
}

body {
  font: 1rem/1.5 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

.c:after {
  content: '';
  clear: both;
  display: block;
}

.hidden-text {
  text-indent: -9999px;
}

.gdc-logo {
  text-align: center;
}

.gdc__logo--mozilla,
.gdc__logo--gdc {
  margin: 0 auto;
}

.gdc__logo--mozilla {
  background: url(../img/logos/mozilla--white.svg) no-repeat;
  background-size: contain;
  height: 30px;
  margin-bottom: 30px;
  width: 120px;
}

.gdc__logo--gdc {
  background: url(../img/logos/gdc15.svg) no-repeat;
  background-size: contain;
  height: 105px;
  margin-bottom: 10px;
  width: 300px;
}

.gdc__text--gdc {
  color: #eddfff;
  font-size: 24px;
  font-weight: 300;
}

.gdc__text--gdc--location {
  display: block;
  font-size: 18px;
}

.wrap {
  margin: 0 auto;
  max-width: 1024px;
  padding: 30px;
}

h2 {
  color: #eddfff;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: uppercase;
}

p {
  font-size: 22px;
}

.group--about-gdc {
  background: rgb(68,0,155);
  color: #fff;
}

a {
  border-bottom: 1px solid rgba(0,180,214,.25);
  color: rgb(0,180,214);
  text-decoration: none;
  transition: .1s ease-in;
}

a:hover {
  border-bottom-color: #eddfff;
  color: #eddfff;
}

address {
  font-style: normal;
}

.event__when {
  color: #fff;
}

.event__location {
  color: rgb(0,180,214);
  font-size: 16px;
}

.col-2 {
  float: left;
  width: 50%;
}

.event__location {
}

.event__when {

}

h3 {
  font-weight: 400;
}

p + h3 {
  margin-top: 10px;
}

dt {
  float: left;
  width: 150px;
}

dd {
  font-weight: 300;
}

big {
  font-size: 22px;
}

.event__location__address__booth {
  font-size: 22px;
  margin-bottom: 12px;
}
