* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(160deg, rgb(0, 1, 74) 0%, rgb(30, 90, 120) 100%);
}

body {
  font: 1rem/1.5 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

.c:after {
  content: '';
  clear: both;
  display: block;
}

.hidden-text {
  text-indent: -9999px;
}

.gdc-logo {
  text-align: center;
}

.gdc__logo--mozilla,
.gdc__logo--gdc {
  margin: 0 auto;
}

.mozilla-logo {
  background: url(../img/logos/mozilla.svg) no-repeat;
  background-size: contain;
  height: 30px;
  width: 120px;
}

.gdc__logo--mozilla {
  margin-bottom: 30px;
}

.gdc__logo--gdc {
  background: url(../img/logos/gdc15.svg) no-repeat;
  background-size: contain;
  height: 105px;
  margin-bottom: 10px;
  width: 300px;
}

.gdc__text--gdc {
  color: #eddfff;
  font-size: 24px;
  font-weight: 300;
}

.gdc__text--gdc--location {
  display: block;
  font-size: 18px;
}

.wrap {
  margin: 0 auto;
  max-width: 1024px;
  padding: 30px;
}

.wrap-tiny {
  padding: 0 30px;
}

h2 {
  color: #eddfff;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: uppercase;
}

p {
  font-size: 22px;
}

.group--purple {
  background: rgb(68,0,155);
  color: #fff;
}

a {
  border-bottom: 1px solid rgba(0,180,214,.25);
  color: rgb(0,180,214);
  text-decoration: none;
  transition: .1s ease-in;
}

a:hover {
  border-bottom-color: #eddfff;
  color: #eddfff;
}

address {
  font-style: normal;
}

.event__when {
  color: #fff;
}

.event__location {
  color: rgb(0,180,214);
  font-size: 16px;
}

/* deal with these floats until I turn these into flexboxes */
.col {
  float: left;
}

.col--40 {
  width: 40%;
}

.col--20 {
  width: 20%;
}

.col--33 {
  width: 33.3333%;
}

.event__location {
}

.event__when {

}

h3 {
  font-weight: 400;
}

p + h3 {
  margin-top: 10px;
}

dt {
  float: left;
  width: 150px;
}

dd {
  font-weight: 300;
}

big {
  font-size: 22px;
}

.event__location__address__booth {
  font-size: 22px;
  margin-bottom: 12px;
}

ul {
  list-style: none;
}

.group--medium {
  background: rgba(0,0,0,.5);
  color: #fff;
}

.group--light {
  background: #fff;
  color: #333;
}

.group--light a:hover {
  border-bottom-color: #369;
  color: #369;
}

.group--light h2 {
  color: rgb(0,0,102);
}

.partner__item {
  float: left;
  height: 80px;
  width: 150px;
}

.partner__item + .partner__item {
  margin-left: 12px;
}

.partner__item--unity {
  background: url(../img/logos/partners/unity.png) center no-repeat;
  background-size: contain;
}

.partner__item--epic {
  background: url(../img/logos/partners/epic.png) center no-repeat;
  background-size: contain;
}

.partner__item--playcanvas {
  background: #fff url(../img/logos/partners/playcanvas.png) center no-repeat;
  background-size: contain;
  border-right: 7px solid #fff;
  height: 26px;
  margin-top: 25px;
  width: 143px;
}

.partner__item--king {
  background: url(../img/logos/partners/king.png) center no-repeat;
  background-size: contain;
}

.partner__item--turbulenz {
  background: url(../img/logos/partners/turbulenz.png) center no-repeat;
  background-size: contain;
}

.partner__item--aerys {
  background: url(../img/logos/partners/aerys.png) center no-repeat;
  background-size: contain;
}

.partner__item a {
  border: 0;
  display: block;
  height: 100%;
}

.group--demos {
  background: rgb(0,112,219);
}

.demo__list {
  margin-left: -30px;
}

.demo__list ul {
  font-size: 12px;
}

.demo__item {
  float: left;
  padding: 30px;
  width: 50%;
}

.demo__item a {
  background: #fff;
  border: 0;
  display: block;
  padding: 15px;
}

.demo__item a,
.demo__item a:hover {
  color: #333;
}

.demo__item a h3 {
  border-bottom: 1px solid #ccc;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
}

.demo__item ul {
  margin-top: 5px;
}

.demo__item p {
  color: #555;
  font-size: 14px;
}

.demo__item img {
  display: block;
  float: left;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  max-width: 180px;
}

.demo__item a {
  padding-left: 200px;
  position: relative;
}

.demo__item img {
  display: none;
}

.demo__item a:before {
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 170px;
}

.demo__item--teleporter a:before {
  background-image: url(../img/demos/teleporter/1.jpg);
}

.demo__item--chase a:before {
  background-image: url(../img/demos/chase/1.jpg);
}

.demo__item--epic-unreal-engine-with-webvr a:before {
  background-image: url(../img/demos/unreal-engine-with-webvr/2.png);
}

.demo__item--oculus-rex a:before {
  background-image: url(../img/demos/oculus-rex/1.jpg);
}

.demo__item--tanx a:before {
  background-image: url(../img/demos/tanx/1.png);
}

.demo__item--the-marvellous-miss-take a:before {
  background-image: url(../img/demos/miss-take/6.png);
}

.group--announcements {
  font-size: 22px;
}

.announcement__item +.announcement__item {
  margin-top: 5px;
}

.involved__heading {
  margin-bottom: 10px;
}

.involved__item {
  margin-top: 5px;
}

.involved__item strong {
  margin-right: 5px;
}

.footer__logo {
  border: 0;
  display: block;
  width: 100%;
}

.footer__item + .footer__item {
  margin-top: 5px;
}
