* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background: #0253a7 url(../../img/bg_grain.png);
  border-top: 2px solid #fff;
  font-size: 10px;
}

body {
  background: url(../../img/bg_top@2x.png) 50% -70px no-repeat;
  background-size: 1920px auto;
  color: #333;
  font: 14px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: relative;
}

html[class*="wf-opensans-"] h1,
html[class*="wf-opensans-"] h2,
html[class*="wf-opensans-"] h3,
html[class*="wf-opensans-"] h4,
html[class*="wf-opensans-"] h5,
html[class*="wf-opensans-"] h6,
html[class*="wf-opensans-"] p,
html[class*="wf-opensans-"] a,
html[class*="wf-opensans-"] footer .footer-nav,
html:not([class*="wf-"]):not([class*="-active"]) h1,
html:not([class*="wf-"]):not([class*="-active"]) h2,
html:not([class*="wf-"]):not([class*="-active"]) h3,
html:not([class*="wf-"]):not([class*="-active"]) h4,
html:not([class*="wf-"]):not([class*="-active"]) h5,
html:not([class*="wf-"]):not([class*="-active"]) h6,
html:not([class*="wf-"]):not([class*="-active"]) p,
html:not([class*="wf-"]):not([class*="-active"]) a,
html:not([class*="wf-"]):not([class*="-active"]) footer .footer-nav {
  font-family: "Open Sans", "open-sans", sans-serif;
}

html:not([class*="wf-"]):not([class*="-active"]) footer .logo,
html[class*="wf-ffmetawebpro-"] footer .logo {
  font-family: "ff-meta-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

figcaption,
footer,
header,
main,
nav,
section {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

img {
  border: 0;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  line-height: 1.1;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}

h4,
h5,
h6 {
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

ul {
  margin-bottom: 10px;
  margin-top: 0;
}

ul ul {
  margin-bottom: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#tabzilla {
  float: right;
  position: relative;
}

#tabzilla a {
  background: url(../../img/tabzilla-static.png) no-repeat;
  display: block;
  height: 37px;
  overflow: hidden;
  position: relative;
  text-indent: 120%;
  white-space: nowrap;
  width: 147px;
  z-index: 2;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
       all and (-o-min-device-pixel-ratio: 3 / 2),
       all and (min--moz-device-pixel-ratio: 1.5),
       all and (min-device-pixel-ratio: 1.5) {
  #tabzilla a {
    background-image: url(../../img/tabzilla-static@2x.png);
    background-size: 147px 37px;
  }
}

#tabzilla:before {
  background-color: transparent;
  content: "";
  display: block;
  height: 26px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 88px;
  z-index: 1;
}

html[dir="rtl"] #tabzilla {
  float: left;
}

.section-title {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header {
  align-items: center;
  display: flex;
  height: 382px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.site-title {
  -o-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  color: #dcf4fe;
  font-size: 2.4rem;
  font-size: calc(2.6rem + 4vw);
  font-weight: 300;
  letter-spacing: -.03ch;
  line-height: 1;
  margin: 0 auto;
  max-width: 90%;
}

@supports (-webkit-text-fill-color: transparent) {
  .site-title {
    -webkit-text-fill-color: transparent;  /* Both Chrome and Firefox 48+ support the `-webkit-text-fill-color` property. */
    -webkit-background-clip: text;  /* Chrome doesn't yet support the unprefixed property (`background-clip`). */
    background-clip: text;  /* Firefox supports this property (as well as `-webkit-background-clip`). */
    background-image: radial-gradient(farthest-corner at 60% 30%, #dcf4fe 0, #78b1e3 100%);
  }
}

.top-stories {
  padding-top: 323px;
}

.top-stories h4 {
  margin: 0 auto 30px;
  max-width: 90%;
  text-align: center;
}

.top-stories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-stories li {
  float: left;
  margin-bottom: 28px;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .top-stories h4 {
    margin-top: 30px;
  }

  .top-stories li {
    float: left;
    width: 50%;
  }
}

.link {
  -webkit-backface-visibility: hidden;
  background-color: #fff;
  box-shadow: rgba(0,0,0,.3) 0 0 10px;
  color: #333;
  display: block;
  margin: 0 0 5px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transform: translateZ(0);
}

.link .imageWrapper {
  margin-left: -2.5%;
  overflow: hidden;
  width: 105%;
}

.link figcaption {
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  border-top: 3px solid #fff;
  overflow: hidden;
  padding: 0 15px;
  text-align: center;
  transition: all .3s;
  width: 100%;
}

.link figcaption h2 {
  -o-transition: color .25s;
  -webkit-transition: color .25s;
  line-height: 1.2;
  margin: 20px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .25s;
  white-space: nowrap;
}

.link figcaption p {
  color: #333;
  margin-bottom: 20px;
  opacity: .8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link img {
  -ms-transform: scale(1,1);
  -o-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  -webkit-transition-duration: .5s;
  max-width: 100%;
  transform: scale(1,1);
  transition-duration: .5s;
}

.link:hover {
  text-decoration: none;
}

.link:hover h2 {
  color: #1d8ede;
}

.link:hover p {
  color: #333;
}

.link:hover .border {
  border: 10px solid #fff;
  border-bottom: none;
}

.link:hover figcaption {
  text-decoration: none;
  color: #1d8ede;
  z-index: 100;
}

.link:hover img {
  -ms-transform: scale(1.1,1.095);
  -o-transform: scale(1.1,1.095);
  -webkit-transform: scale(1.1,1.095);
  -webkit-transition-duration: .5s;
  transform: scale(1.1,1.095);
  transition-duration: .5s;
}

.companies {
  background: url(../../img/bg_partners.png) repeat-x;
  background-size: cover;
  color: #fff;
  letter-spacing: .35em;
  margin: 70px 0 0;
  padding: 74px 0;
  text-align: center;
}

.companies h4 {
  font-size: 1.4rem;
}

.companies .icon-unity {
  background: url(../../img/icon-unity.png) 0 -54px;
  background-size: 142px auto;
  height: 52px;
  width: 142px;
}

.companies .icon-unity:after {
  background-image: url(../../img/icon-unity.png);
  background-size: 142px auto;
  height: 52px;
  width: 142px;
}

.companies .icon-playcanvas {
  background: url(../../img/icon-playcanvas.png) 0 -28px;
  background-size: 150px auto;
  height: 28px;
  width: 150px;
}

.companies .icon-playcanvas:after {
  background-image: url(../../img/icon-playcanvas.png);
  background-size: 150px auto;
  height: 28px;
  width: 150px;
}

.companies .icon-king {
  background: url(../../img/icon-king.png) 0 -81px;
  background-size: 120px auto;
  height: 81px;
  width: 120px;
}

.companies .icon-king:after {
  background-image: url(../../img/icon-king.png);
  background-size: 120px auto;
  height: 81px;
  width: 120px;
}

.companies .icon-humblebundle {
  background: url(../../img/icon-humble.png) 0 -25px;
  background-size: 150px auto;
  height: 25px;
  width: 150px;
}

.companies .icon-humblebundle:after {
  background-image: url(../../img/icon-humble.png);
  background-size: 150px auto;
  height: 25px;
  width: 150px;
}

.companies .icon-gameloft {
  background: url(../../img/icon-gamleloft.png) 0 -73px;
  background-size: 105px auto;
  height: 73px;
  width: 105px;
}

.companies .icon-gameloft:after {
  background-image: url(../../img/icon-gamleloft.png);
  background-size: 105px auto;
  height: 73px;
  width: 105px;
}

.companies .icon-turbulenz {
  background: url(../../img/icon-turbulenz.png) 0 -26px;
  background-size: 150px auto;
  height: 26px;
  width: 150px;
}

.companies .icon-turbulenz:after {
  background-image: url(../../img/icon-turbulenz.png);
  background-size: 150px auto;
  height: 26px;
  width: 150px;
}

.companies .icon-epic {
  background: url(../../img/icon-epicgames.png) 0 -65px;
  background-size: 57px auto;
  height: 65px;
  width: 57px;
}

.companies .icon-epic:after {
  background-image: url(../../img/icon-epicgames.png);
  background-size: 57px auto;
  height: 65px;
  width: 57px;
}

.companies .icon {
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 36px 30px 0 0;
  position: relative;
  transition: all .3s;
  vertical-align: middle;
}

.companies .icon:last-child {
  margin-right: 0;
}

.companies .icon:after {
  background-position: 0 0;
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.companies .icon:hover {
  background-image: transparent;
}

.companies .icon:hover:after {
  opacity: 1;
}

.stories {
  background-color: #17232e;
  margin-bottom: 0;
  padding: 75px 0 48px;
  color: #fff;
  overflow: hidden;
}

.stories ul {
  padding-left: 0 !important;
}

.stories h4 {
  color: #1795e3;
  margin: 0 0 30px;
  padding-left: 15px;
  text-align: left;
}

.stories a {
  -o-transition: color .25s;
  -webkit-transition: color .25s;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  padding-right: 15px;
  text-align: left;
  transition: color .25s;
  width: 100%;
}

.stories a:after {
  -o-transition: margin .25s;
  -webkit-transition: margin .25s;
  color: #1795E3;
  content: "»";
  display: inline-block;
  margin-right: -15px;
  text-align: right;
  transition: margin .25s;
  width: 15px;
}

.stories a:hover {
  color: #1795e3;
  text-decoration: none;
}

.stories a:hover:after {
  margin-left: 5px;
  color: #fff;
}

.stories li {
  list-style: none;
  display: block;
  margin-bottom: 10px;
}

footer {
  background: #e6e6e6 url(../../img/bg_grain.png);
  color: #3b3b3b;
  overflow: hidden;
  padding: 56px 0;
}

footer .logo {
  -o-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  color: #333;
  display: block;
  float: left;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: .8;
  margin: 0 0 15px;
  min-height: 1px;
  opacity: .6;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  transition: opacity .3s;
  width: 100%;
}

@media (min-width: 768px) {
  footer .logo {
    float: left;
    width: 25%;
  }
}

@media (min-width: 992px) {
  footer .logo {
    float: left;
    width: 16.6666666667%;
  }
}

footer .logo:hover {
  text-decoration: none;
  opacity: .7;
}

footer .footer-license {
  font-size: 1.4rem;
  padding-right: 28px;
  line-height: 1.3;
  margin: 0;
}

footer .footer-content {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  footer .footer-content {
    float: left;
    width: 75%;
  }
}

@media (min-width: 992px) {
  footer .footer-content {
    float: left;
    width: 83.3333333333%;
  }
}

footer .footer-content .footer-license {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  footer .footer-content .footer-license {
    float: left;
    width: 50%;
  }
}

@media (min-width: 992px) {
  footer .footer-content .footer-license {
    float: left;
    width: 58.3333333333%;
  }
}

@media (min-width: 992px) {
  footer .footer-content .footer-license {
    margin-left: 8.3333333333%;
  }
}

footer .footer-nav {
  float: left;
  font-size: 1.4rem;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  footer .footer-nav {
    float: left;
    width: 50%;
  }
}

@media (min-width: 992px) {
  footer .footer-nav {
    float: left;
    width: 25%;
  }
}

@media (min-width: 992px) {
  footer .footer-nav {
    margin-left: 8.3333333333%;
  }
}

footer .footer-nav li {
  width: 100%;
  float: none;
  line-height: 1.3;
}

@media (min-width: 768px) and (max-width: 979px) {
  .header img {
    margin-top: 120px;
  }

  .container .link figcaption {
    min-height: 80px;
  }

  .container .link figcaption h2 {
    font-size: 2rem;
    margin-top: 15px;
    vertical-align: center;
  }

  .container .link figcaption p {
    font-size: 1.2rem;
  }

  .companies {
    height: auto;
    padding-bottom: 42px;
  }

  .companies .icon {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 23px;
    padding: 0 25px;
  }

  .stories {
    font-size: 1.4rem;
  }

  .stories a {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  footer .container {
    width: 100% !important;
  }
}

@media (min-width: 980px) {
  .header img {
    max-width: 838px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .header img {
    margin-top: 150px;
  }

  .link figcaption h2 {
    font-size: 2.0rem;
  }

  .link:hover {
    text-decoration: none;
  }

  .link:hover figcaption {
    text-decoration: none;
    color: #333;
    z-index: 100;
  }

  .link:hover figcaption h2 {
    color: #333;
  }

  .link:hover img {
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
  }

  .companies {
    padding-bottom: 5em;
  }

  .companies h4 {
    line-height: 1.4;
    font-size: 1.4rem;
    letter-spacing: .2em;
    max-width: 90%;
    margin: 0 auto;
  }

  .stories {
    padding: 42px 30px 30px;
  }

  .stories h4 {
    line-height: 1.4;
    padding-left: 0;
  }

  .stories .container {
    padding: 0;
  }

  .stories li {
    margin-bottom: 15px;
  }

  .stories a {
    font-size: 1.6rem;
  }

  .stories a:hover {
    color: #fff;
  }

  .stories a:hover p {
    color: #1795e3;
    margin-left: 0;
  }

  footer {
    padding: 30px 0 20px;
  }

  footer .footer-content {
    padding: 0;
  }

  footer .footer-license {
    font-size: 1.2rem;
    padding: 0 0 20px;
  }

  footer .footer-nav {
    font-size: 1.2rem;
    text-align: left;
  }

  footer .footer-nav ul {
    padding-left: 0;
  }
}

@media (max-width: 580px) {
  .companies img {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .link figcaption h2 {
    font-size: 1.7rem;
  }

  .companies .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .companies .icon:last-child {
    margin-right: auto;
  }
}

html {
  font-size: 62.5%;
}

.link figcaption {
  background-color: #f4f4f4;
  border-top: 1px solid rgba(0,0,0,.025);
}

.link figcaption h2 {
  font-size: 24px;
}

@media (max-width: 579px) {
  .link figcaption h2,
  .link figcaption p {
    white-space: normal;
  }

  .link figcaption h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    text-align: center;
  }
}
