@font-face {
  src: url('../fonts/eot/FiraSans-Light.eot');
  src: local('Fira Sans Light'),
       url('../fonts/eot/FiraSans-Light.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Light.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Light.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('../fonts/eot/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'),
       url('../fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Regular.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Regular.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/eot/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'),
       url('../fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Medium.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Medium.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('../fonts/eot/FiraSans-SemiBold.eot');
  src: local('Fira Sans SemiBold'),
       url('../fonts/eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-SemiBold.woff') format('woff'),
       url('../fonts/ttf/FiraSans-SemiBold.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('../fonts/eot/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'),
       url('../fonts/eot/FiraSans-Bold.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Bold.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Bold.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #fff;
}

body {
  font: 1rem/1.5 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  transition: .1s ease-in;
}

.copy--bright a {
  border-bottom: 1px solid #ffcb00;
  color: #ffcb00;
}

.copy--bright a:hover {
  border-bottom-color: #eddfff;
}

.copy--faint a {
  color: #9df;
}

a:hover {
  color: #fff;
}

.c:after {
  content: '';
  clear: both;
  display: block;
}

.hidden-text {
  display: block;
  text-indent: -9999px;
}

.group--header {
  background: rgb(0,150,221) url(../img/header.jpg) 80% 0 repeat-x;
  position: relative;
  text-align: center;
}

.group--header:after {
  background: rgba(0,150,221,.5);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.group--header .wrap {
  position: relative;
  z-index: 1;
}

.mozilla-logo {
  background: url(../img/mozilla.svg) 0 -4px no-repeat;
  background-size: auto 100%;
  height: 32px;
}

.gdc__mozilla {
  background-position: center;
  height: 32px;
  margin-bottom: 5px;
  min-width: auto;
  width: auto;
}

.footer__mozilla {
  display: block;
  width: 100%;
}

.gdc__logo {
  background: url(../img/logos/gdc15.svg) center no-repeat;
  background-size: auto 100%;
  height: 30px;
  margin-bottom: 10px;
}

.gdc__link {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
}

.gdc__location {
  display: block;
  font-size: 18px;
}

.wrap {
  margin: 0 auto;
  max-width: 1084px;  /* 1024px + 60px padding */
  padding: 30px;
}

h2 {
  color: #666;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.group--footer,
.highlight__item__view {
  background-color: rgb(0,150,221);
}

.group--bright {
  background-color: #efefef;
  color: #333;
}

.copy--bright h2 {
  color: rgba(255,255,255,.75);
}

.group--posts {
  background: rgb(225,39,98) url(../img/gdc-pink.jpg) repeat-x;
}

.company__list {
  margin-top: 10px;
}

.company__item + .company__item {
  margin-left: 30px;
}

.company__item a,
.company__item img {
  display: block;
}

.company__list {
  flex-wrap: wrap;
}

.company__item img {
  max-height: 60px;
  max-width: 150px;
}

.group--highlights {
  background: #fff;
}

.highlight__item a {
  display: block;
  position: relative;
  width: 100%;
}

.highlight__item__details {
  overflow: hidden;
  max-height: 82px;
  transition: all .3s ease;
}

.highlight__item__view {
  color: #fff;
  display: none;
  font-weight: 500;
  letter-spacing: .25px;
  margin: 10px auto 0;
  opacity: 0;
  padding: 5px 20px;
  text-transform: uppercase;
  width: 100px;
}

.highlight__item a:hover .highlight__item__details {
  background-color: rgba(0,0,0,.8);
  height: 100%;
  max-height: 100%;
  text-align: center;

  /* TODO: make this flexbox work with old flexbox syntax. */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.highlight__item a:hover .highlight__item__title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.highlight__item a:hover .highlight__item__tagline {
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.highlight__item a:hover .highlight__item__view {
  display: inline-block;
  opacity: 1;
}

.highlight__item__details {
  background-color: rgba(0,0,0,.6);
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
}

.highlight__item .highlight__item__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}

.highlight__item__tagline {
  color: rgba(255,255,255,.65);
  font-size: 13px;
  font-weight: 300;
}

.highlight__item a:before {
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  display: block;
  min-height: 250px;
  width: 100%;
}

.highlight__item--teleporter a:before {
  background-image: url(../img/highlights/teleporter/1.jpg);
}

.highlight__item--prime-world-defenders a:before {
  background-image: url(../img/highlights/prime-world-defenders/1.png);
}

.highlight__item--the-marvellous-miss-take a:before {
  background-image: url(../img/highlights/miss-take/9.jpg);
}

.highlight__item--tanx a:before {
  background-image: url(../img/highlights/tanx/1.png);
}

.highlight__item--future-web-technologies a:before {
  background-image: url(../img/highlights/future-web-technologies/sechelt-2.png);
}

.highlight__item--dev-tools a:before {
  background-image: url(../img/highlights/oculus-rex/1.jpg);
}

.highlight__item img {
  display: none;
}

.copy--links li + li {
  margin-top: 10px;
}

.footer__list--legal {
  float: left;
}

.footer__list--social {
  float: right;
}

.footer__list li {
  display: inline-block;
}

.footer__list li + li:before {
  color: rgba(255,255,255,.5);
  content: '\00a0\b7\00a0\00a0';
  font-weight: 600;
}

/* use flexbox to stretch a bunch of items in a container, with
   horizontal space between each item (and each vertical centred). */
.flex--spread {
  /* old flexbox */
  -ms-flex-align: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-justify-content: space-between;

  /* new flexbox */
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex--variable {
  /* old flexbox */
  -webkit-flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;

  /* new flexbox */
  display: flex;
  flex-wrap: wrap;

  margin: 0 -7.5px;  /* Because we're going to space each 15px apart */
}

.flex--variable > li {
  -webkit-flex-basis: 50%;
  display: flex;
  flex-basis: 50%;
  margin-top: 15px;
  padding: 0 7.5px;
}

@media (max-width: 799px) {
  .company__list {
    margin-top: 15px;
  }

  .flex--variable > li {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 499px) {
  .wrap {
    padding: 15px;
  }

  .gdc__location {
    font-size: 14px;
  }

  .highlight__item__details {
    padding: 10px;
  }

  .highlight__item .highlight__item__title {
    font-size: 16px;
  }

  .footer__list {
    font-size: 12px;
  }
}

@media (max-width: 799px) {
  .col--50 + .col--50 {
    padding-top: 30px;
  }
}

@media (min-width: 800px) {
  .col {
    float: left;
  }

  .col--50 {
    width: 50%;
  }

  .col + .col {
    padding-left: 10px;
  }

  .company__list {
    min-height: 60px;
  }
}
