@font-face {
  src: url('../fonts/eot/FiraSans-Light.eot');
  src: local('Fira Sans Light'),
       url('../fonts/eot/FiraSans-Light.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Light.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Light.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('../fonts/eot/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'),
       url('../fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Regular.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Regular.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/eot/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'),
       url('../fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Medium.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Medium.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('../fonts/eot/FiraSans-SemiBold.eot');
  src: local('Fira Sans SemiBold'),
       url('../fonts/eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-SemiBold.woff') format('woff'),
       url('../fonts/ttf/FiraSans-SemiBold.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('../fonts/eot/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'),
       url('../fonts/eot/FiraSans-Bold.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Bold.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Bold.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #fff;
}

body {
  font: 1rem/1.5 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  transition: .1s ease-in;
}

.copy--bright a {
  border-bottom: 1px solid #ffcb00;
  color: #ffcb00;
}

.copy--bright a:hover {
  border-bottom-color: #eddfff;
}

.copy--faint a {
  color: #cef;
}

a:hover,
a.gdc__location:hover {
  color: #fff;
}

.c:after {
  content: '';
  clear: both;
  display: block;
}

.hidden-text {
  display: block;
  text-indent: -9999px;
}

.group--header {
  background: rgba(0,150,221,.5) url(../img/gdc-header.jpg) 80% 0 repeat-x;
  text-align: center;
}

.group--header .wrap {
  position: relative;
  z-index: 1;
}

.mozilla-logo {
  background: url(../img/mozilla.svg) 0 -4px no-repeat;
  background-size: auto 100%;
  height: 32px;
}

.gdc__mozilla {
  background-position: center;
  height: 32px;
  margin-bottom: 5px;
  min-width: auto;
  width: auto;
}

.footer__mozilla {
  display: block;
  width: 100%;
}

.gdc__logo {
  background: url(../img/logos/gdc15.svg) center no-repeat;
  background-size: auto 100%;
  height: 30px;
}

.gdc__link {
  display: block;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.4;
}

.gdc__text__link {
  font-weight: 400;
}

a.gdc__location {
  color: #9df;
}

.gdc__location {
  display: block;
  font-size: 22px;
  margin-top: 9px;
}

.site-heading {
  display: inline-block;
  width: 85px;
}

.site-subtitle {
  display: inline-block;
  margin: -1px 0 0 20px;
  text-align: left;
  vertical-align: top;
}

.wrap {
  margin: 0 auto;
  max-width: 1084px;  /* 1024px + 60px padding */
  padding: 30px;
}

h2 {
  color: #666;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.group--footer,
.highlight__item__view {
  background-color: rgb(0,150,221);
}

.group--bright {
  background-color: #efefef;
  color: #333;
}

.copy--bright h2 {
  color: rgba(255,255,255,.75);
}

.group--posts {
  background: rgb(225,39,98) url(../img/gdc-pink.jpg) repeat-x;
}

.company__list {
  margin-top: 10px;
}

.company__item + .company__item {
  margin-left: 30px;
}

.company__item a,
.company__item img {
  display: block;
}

.company__item img {
  max-height: 60px;
  max-width: 150px;
}

.group--highlights {
  background: #fff;
}

.highlight__item a {
  display: block;
  position: relative;
  width: 100%;
}

.highlight__item__details {
  overflow: hidden;
  max-height: 82px;
  transition: all .3s ease;
}

.highlight__item__view {
  color: #fff;
  display: none;
  font-weight: 500;
  letter-spacing: .25px;
  margin: 10px auto 0;
  opacity: 0;
  padding: 5px 20px;
  text-transform: uppercase;
  width: 100px;
}

.lacks-touch .highlight__item a:hover .highlight__item__details {
  background-color: rgba(0,0,0,.8);
  height: 100%;
  max-height: 100%;
  text-align: center;

  /* old flexbox */
  -ms-flex-align: center;
  -webkit-justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;

  /* new flexbox */
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.lacks-touch .highlight__item a:hover .highlight__item__title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.lacks-touch .highlight__item a:hover .highlight__item__tagline {
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.lacks-touch .highlight__item a:hover .highlight__item__view {
  display: inline-block;
  opacity: 1;
}

.highlight__item__details {
  background-color: rgba(0,0,0,.6);
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
}

.highlight__item .highlight__item__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}

.highlight__item__tagline {
  color: rgba(255,255,255,.65);
  font-size: 13px;
  font-weight: 300;
}

.highlight__item a:before {
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  display: block;
  min-height: 250px;
  width: 100%;
}

.highlight__item--gdc a:before {
  background-color: rgb(255,63,0);
  background-image: url(../img/logos/gdc15.svg),
                    linear-gradient(90deg, #f90 10%, rgb(255,63,0) 90%);
  background-position: 50% calc(50% - 38px), 0 0;
  background-size: 50% auto, auto;
}

.highlight__item--webgl2 a:before {
  background-image: url(../img/highlights/webgl2/7.png);
}

.highlight__item--unity5 a:before {
  background-image: url(../img/highlights/unity5/1.png);
}

.highlight__item--unreal a:before {
  background-image: url(../img/highlights/unreal/shooter-1.png);
}

.highlight__item--webvr a:before {
  background-image: url(../img/highlights/webvr/sechelt-2.png);
}

.highlight__item--dev-edition a:before {
  background: #00549e no-repeat;
  background-image: url(../img/highlights/dev-edition/logo.png),
                    radial-gradient(ellipse farthest-side at top left, #00549e 0, rgba(0,0,0,.85) 100%);
  background-position: 50% calc(50% - 38px), 0 50%;
  background-size: 220px auto, 100% 500px;
}

.highlight__item--marketplace a:before {
  background-image: url(../img/highlights/marketplace/logo.svg),
                    url(../img/highlights/miss-take/9.jpg);
  background-position: 50% calc(50% - 38px), 0 0;
  background-size: auto 30px, cover;
}

.highlight__item--mdn a:before {
  background-color: #00539f;
  background-image: url(../img/highlights/mdn/mdn-logo.svg),
                    url(../img/highlights/mdn/game.png),
                    linear-gradient(45deg, #1a2980 10%, #26d0ce 90%);
  background-position: 50% 10%, 50% 72px;
  background-size: 46.5% auto, 50% auto, auto;
}

.highlight__item--tanx a:before {
  background-image: url(../img/highlights/tanx/1.png);
}

.highlight__item img {
  display: none;
}

.copy--links li + li {
  margin-top: 10px;
}

.footer__list li {
  display: inline-block;
}

.footer__list li + li:before {
  color: rgba(255,255,255,.5);
  content: '\00a0\b7\00a0\00a0';
  font-weight: 600;
}

/* use flexbox to stretch a bunch of items in a container, with
   horizontal space between each item (and each vertical centred). */
.flex--spread {
  /* old flexbox */
  -ms-flex-align: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;

  /* new flexbox */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.flex--variable {
  /* old flexbox */
  -webkit-flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;

  /* new flexbox */
  display: flex;
  flex-wrap: wrap;

  margin: 0 -7.5px;  /* Because we're going to space each 15px apart */
}

.flex--variable > li {
  -webkit-flex-basis: 50%;
  display: flex;
  flex-basis: 50%;
  margin-top: 15px;
  padding: 0 7.5px;
}

.flex--variable > li.highlight__item--tanx {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

.flex--variable > li.highlight__item--tanx a:before {
  background-position: 50% 70%;
}

@media (max-width: 1079px) and (min-width: 436px) {
  .flex--spread {
    -webkit-justify-content: center;
    justify-content: center;
  }
}

@media (max-width: 1079px) {
  .company__item img {
    max-height: 50px;
    max-width: 125px;
  }
}

@media (max-width: 371px) {
  .flex--spread {
    display: block;
    text-align: center;
  }

  .company__item {
    display: inline-block;
  }

  .company__item + .company__item {
    margin-left: 15px;
  }
}

@media (max-width: 999px) {
  .company__item img {
    max-height: 40px;
    max-width: 100px;
  }
}

@media (max-width: 799px) {
  .site-heading,
  .site-subtitle {
    display: block;
  }

  .site-heading {
    margin: 0 auto 10px;
  }

  .gdc__location,
  .site-subtitle {
    margin: 0;
  }

  .site-subtitle {
    line-height: 1;
    text-align: center;
  }

  .gdc__link {
    font-size: 22px;
  }

  .gdc__location {
    font-size: 18px;
  }

  .col--50 + .col--50 {
    padding-top: 30px;
  }

  .flex--spread > li {
    margin-top: 10px;
  }

  .flex--variable > li {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }

  .company__item img {
    max-height: 35px;
    max-width: 88px;
  }
}

@media (max-width: 499px) {
  .gdc__link {
    font-size: 18px;
  }

  .gdc__location {
    font-size: 14px;
  }

  .wrap {
    padding: 15px;
  }

  .highlight__item__details {
    padding: 10px;
  }

  .highlight__item .highlight__item__title {
    font-size: 18px;
  }

  .lacks-touch .highlight__item a:hover .highlight__item__title {
    line-height: 1.1;
  }

  .highlight__item--gdc a:before {
    background-position: 50% calc(50% - 41px), 0 0;
  }

  .highlight__item--dev-edition a:before {
    background-position: 50% calc(50% - 41px), 0 50%;
  }

  .highlight__item--marketplace a:before {
    background-position: 50% calc(50% - 30px), 0 0;
  }

  .footer__list {
    font-size: 12px;
  }

  .footer__list li:last-child:before {
    content: "";
  }
}

@media (min-width: 1080px) {
  .company__list {
    min-height: 60px;
  }

  .flex--spread {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

@media (min-width: 799px) and (max-width: 999px) {
  .highlight__item .highlight__item__title {
    font-size: 18px;
  }

  .highlight__item__tagline {
    font-size: 11px;
  }
}

@media (min-width: 899px) and (max-width: 999px) {
  .highlight__item .highlight__item__title {
    font-size: 22px;
  }
}

@media (min-width: 800px) {
  .col {
    float: left;
  }

  .col--50 {
    width: 50%;
  }

  .col + .col {
    padding-left: 10px;
  }
}
