@font-face {
  src: url('../fonts/eot/FiraSans-Light.eot');
  src: local('Fira Sans Light'),
       url('../fonts/eot/FiraSans-Light.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Light.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Light.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('../fonts/eot/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'),
       url('../fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Regular.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Regular.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/eot/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'),
       url('../fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Medium.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Medium.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('../fonts/eot/FiraSans-SemiBold.eot');
  src: local('Fira Sans SemiBold'),
       url('../fonts/eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-SemiBold.woff') format('woff'),
       url('../fonts/ttf/FiraSans-SemiBold.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('../fonts/eot/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'),
       url('../fonts/eot/FiraSans-Bold.eot') format('embedded-opentype'),
       url('../fonts/woff/FiraSans-Bold.woff') format('woff'),
       url('../fonts/ttf/FiraSans-Bold.ttf') format('truetype');
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: rgb(0,150,221);
}

body {
  font: 1rem/1.5 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

.c:after {
  content: '';
  clear: both;
  display: block;
}

.hidden-text {
  text-indent: -9999px;
}

.group--header {
  background: rgb(0,150,221) url(../img/header.jpg) 80% 0 repeat-x;
  position: relative;
  text-align: center;
}

.group--header:after {
  background: rgba(0,150,221,.5);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.group--header .wrap {
  position: relative;
  z-index: 1;
}

.gdc__logo--mozilla,
.gdc__logo--gdc {
  margin: 0 auto;
}

.mozilla-logo {
  background: url(../img/mozilla.svg) no-repeat;
  background-size: auto 30px;
  height: 30px;
  min-width: 80px;
  width: 80px;
}

.gdc__logo--mozilla {
  margin-bottom: 15px;
}

.gdc__logo--gdc {
  background: url(../img/logos/gdc15.svg) no-repeat;
  background-size: contain;
  height: 105px;
  margin-bottom: 10px;
  width: 300px;
}

.gdc__text--gdc {
  color: #9df;
  font-size: 24px;
  font-weight: 300;
}

.group--about-gdc {
  margin-top: 30px;
  text-align: left;
}

.gdc__text--gdc--location {
  display: block;
  font-size: 18px;
}

.wrap {
  margin: 0 auto;
  max-width: 1024px;
  padding: 30px;
}

.wrap-tiny {
  padding: 0 30px;
}

h2 {
  color: #666;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.group--event p {
  margin-bottom: 15px;
}

a {
  border-bottom: 1px solid rgba(0,180,214,.25);
  color: rgb(0,180,214);
  text-decoration: none;
  transition: .1s ease-in;
}

a:hover {
  border-bottom-color: #eddfff;
  color: #eddfff;
}

.group--dark a {
  border-bottom-color: #def;
  color: #def;
}

.group--dark a:hover {
  border-bottom-color: #fff;
  color: #fff;
}

.group--event a {
  border-bottom-color: #ffcb00;
  color: #ffcb00;
}

.group--light a:hover {
  border-bottom-color: #369;
  color: #369;
}

address {
  font-style: normal;
}

h3 {
  font-weight: 400;
}

dl {
  margin-top: 10px;
}

dt {
  float: left;
  width: 150px;
}

dd {
  font-weight: 300;
}

ul {
  list-style: none;
}

.group--dark h2 {
  color: #ccc;
}

.group--dark {
  background-color: rgb(0,150,221);
}

.group--event {
  background-image: url(../img/event.jpg);
  background-color: rgb(225,39,98);
  background-repeat: no-repeat;
}

.group--light {
  background-color: #efefef;
  color: #333;
}

.copy--important {
  font-size: 22px;
}

.copy--light,
.copy--light h2 {
  color: #fff;
}

.copy--light h2 {
  color: rgba(255,255,255,.5);
}

.partner__item + .partner__item {
  margin-left: 10px;
}

.partner__item a,
.partner__item img {
  display: block;
}

.partner__item a {
  border: 0;
}

.partner__item img {
  max-height: 75px;
  max-width: 100%;
}

.demo__item a:before {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: '';
  display: block;
  min-height: 130px;
  width: 100%;
}

.demo__item--teleporter a:before {
  background-image: url(../img/demos/teleporter/1.jpg);
}

.demo__item--chase a:before {
  background-image: url(../img/demos/chase/1.jpg);
}

.demo__item--epic-unreal-engine-with-webvr a:before {
  background-image: url(../img/demos/unreal-engine-with-webvr/2.png);
}

.demo__item--oculus-rex a:before {
  background-image: url(../img/demos/oculus-rex/1.jpg);
}

.demo__item--tanx a:before {
  background-size: 100% 100%;
  background-image: url(../img/demos/tanx/1.png);
}

.demo__item--the-marvellous-miss-take a:before {
  background-image: url(../img/demos/miss-take/6.png);
}

.group--demos {
  background: #fff;
}

.demo__item a {
  border: 0;
  display: block;
  width: 100%;
}

.demo__item a:hover {
  background: rgba(0,180,214,.25);
  color: #111;
}

.demo__item a:hover h3 {
  border-bottom-color: transparent;
  color: #369;
}

.demo__item a:hover p {
  color: #333;
}

.demo__item a:hover ul {
  color: #555;
}

.demo__item h3 {
  border-bottom: 1px solid #ccc;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 10px;
  transition: .1s ease-in border-bottom, .1s ease-in color;
}

.demo__item p {
  color: #555;
  font-size: 14px;
}

.demo__list ul {
  color: #888;
  font-size: 12px;
  margin-top: 5px;
}

.demo__item img {
  display: none;
  max-height: 200px;
  max-width: 100%;
}

.demo__item__details {
  padding: 15px;
}

.announcement__item +.announcement__item {
  margin-top: 5px;
}

.footer__logo {
  border: 0;
  display: block;
  width: 100%;
}

/* use flexbox to stretch a bunch of items in a container, with
   horizontal space between each item (and each vertical centred). */
.flex--spread {
  /* old flexbox */
  -ms-flex-align: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-justify-content: space-between;

  /* new flexbox */
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex--variable {
  /* old flexbox */
  -webkit-flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;

  /* new flexbox */
  display: flex;
  flex-wrap: wrap;

  margin: 0 -7.5px;  /* Because we're going to space each 15px apart */
}

.flex--variable > li {
  display: flex;
  flex: 0 1 33.33%;
  margin-top: 15px;
  padding: 0 7.5px;
}

@media (min-width: 400px) {
  .flex--variable > li {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 799px) {
  .partner__list {
    margin-top: 15px;
  }

  .announcement__item +.announcement__item {
    margin-top: 10px;
  }
}

@media (max-width: 499px) {
  .wrap {
    padding: 15px;
  }

  .copy--important {
    font-size: 18px; 
  }

  .copy--light h2 {
    color: rgba(255,255,255,.75);
  }

  .gdc__text--gdc {
    font-size: 18px;
  }

  .gdc__text--gdc--location {
    font-size: 14px;
  }

  .partner__list {
    margin-top: 10px;
  }

  .demo__item__details {
    padding: 10px;
  }

  .demo__item h3 {
    font-size: 16px;
  }

  .event__location__address p {
    margin-bottom: 0;
  }

  .col--33 + .col--33 {
    margin-top: 15px;
  }

  .col--33 li {
    display: inline-block;
  }

  .col--33 li + li:before {
    color: rgba(255,255,255,.5);
    content: '\00a0•\00a0\00a0';
  }

  .footer__list {
    font-size: 12px;
  }

  .group--footer .col--33 + .col--33 {
    margin-top: 10px;
  }
}

@media (min-width: 500px) {
  .wrap--cols {
    /* old flexbox */
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-justify-content: space-between;

    /* new flexbox */
    display: flex;
    justify-content: space-between;
  }

  .wrap--cols .col + .col {
    padding-left: 10px;
  }
}

@media (min-width: 600px) {
  .flex--variable > li {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: 800px) {
  .flex--variable > li {
    -webkit-flex-basis: 33.3333%;
    flex-basis: 33.3333%;
  }

  .col {
    float: left;
  }

  .col--33 {
    width: 33.3333%;
  }

  .col--33 + .col--33 {
    padding-left: 5px;
  }

  .col--33:nth-child(3) {
    padding-left: 10px;
  }

  /* For "Get Involved" and Mozilla Footer columns */
  .col--33 li + li {
    margin-top: 5px;
  }

  .partner__list {
    min-height: 75px;
  }

  .partner__item img {
    max-width: 130px;
  }
}
